{% extends "what/base.html" %}
{% load i18n %}

{% block title %}>{% trans "Server Error" %}{% endblock %}

{% block navbar-title %}{% trans "Home" %}{% endblock %}

{% block content %}
	<h1>{% trans "Server Error" %}</h1>
	<div class="alert alert-danger" role="alert">{% trans "The server encountered an error with the page." %}</div>
	<div class="alert alert-info" role="alert">{% trans "If the problem persists, please inform <a href='mailto:admin@poirot-zone.ml'>the admin</a> about the situation." %}</div>
	<div>
		<a href="javascript:window.history.go(-1)">{% trans "Go back" %}</a>
	</div>
{% endblock %}
