{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Quiz{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'what/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'what/css/bootstrap-theme.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'what/css/what-style.css' %}" />
</head>
<body role="document">
	<div class="container" role="main">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header navbar-right">
					<span class="navbar-brand">{% block user %}{% endblock %}</span>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">{% block navbar-title %}{% endblock %}</a></li>
						<li><a id="navbar-rules" href="#">{% block navbar-rules %}{% endblock %}</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="page-container">
			{% block content %}{% endblock %}
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
				</div>
				<div class="col-sm-4 footer-copyright">
					<p>© 2015 <a href="mailto:info@poirot-zone.ml">Hercule Poirot</a>. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="{% static 'what/js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'what/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'what/js/ie10-viewport-bug-workaround.js' %}"></script>
	<script src="{% static 'what/js/bootbox.min.js' %}"></script>
	<script src="{% static 'what/js/what-scripts.js' %}"></script>
</body>
</html>
