{% extends "what/base.html" %}
{% load i18n %}

{% block navbar-title %}{% trans "Home" %}{% endblock %}
{% block navbar-title-url %}{{ request.session.site_url }}{% endblock %}

{% if request.session.username %}
{% block user %}
<div class="user-dropdown-arrow dropdown">
	<span id="user-welcome" class="dropdown-toggle cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{% trans "Hello," %} <b>{{ request.session.username }}</b>
	</span>
	<span id="dropdown-user-menu" class="dropdown-toggle cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="caret"></span>
	</span>
	<ul class="dropdown-menu" aria-labelledby="dropdown-user-menu user-welcome" id="user-drop-list">
		<li><a href="{{ request.session.site_url }}settings/"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;{% trans "Settings" %}</a></li>
		<li class="divider"></li>
		<li><a href="{{ request.session.site_url }}logout/"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;{% trans "Logout" %}</a></li>
	</ul>
</div>
{% endblock %}
{% block navbar-cp %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{% trans "Quick Access" %} <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="{{ request.session.site_url }}students/">{% trans "Students" %}</a></li>
		<li><a href="{{ request.session.site_url }}annals/">{% trans "Annals" %}</a></li>
		<li><a href="{{ request.session.site_url }}questions/">{% trans "Questions" %}</a></li>
		<li><a href="{{ request.session.site_url }}quizzes/">{% trans "Quizzes" %}</a></li>
		<li><a href="{{ request.session.site_url }}teachers/">{% trans "Teachers" %}</a></li>
	</ul>
</li>
{% endblock %}
{% endif %}
