{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Quiz{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'what/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'what/css/bootstrap-theme.min.css' %}" />
</head>
<body>
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	<script src="{% static 'what/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'what/js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'what/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>
