{% extends "what/base-cp.html" %}
{% load i18n %}

{% block title %}{% trans "Annals" %}{% endblock %}

{% block content %}
	<div class="row">
	<div class="col-sm-3">
		<a href="{{ request.session.site_url }}annals/"><div class="cp-heading cursor-pointer">{% trans "Annals" %}</div></a>
	</div>
	<div class="col-sm-6">
		{% if message %}
			<div id="alert-message" class="alert {{ alert_status }} alert-block">{{ message }}</div>
		{% endif %}
	</div>
	</div>
	<div id="div-change-annal" class="modal fade">
		<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h4 class="modal-title" id="modal-change-annal-title"></h4>
		</div>
		<div class="modal-body">
			<form id="form-change-annal" method="post" class="form-horizontal" action="{{ request.session.site_url }}annals/">
			{% csrf_token %}
			<input type="hidden" id="annal-add-title" value='{% trans "Add new annal" %}'>
			<input type="hidden" id="annal-edit-title" value='{% trans "Edit annal: " %}'>
			<input type="hidden" id="msg-annal-name-required" value='{% trans "Annal name is required." %}'>
			<input type="hidden" id="msg-annal-duration-required" value='{% trans "Annal duration is required." %}'>
			<input type="hidden" id="disabled_caption" value='{% trans "Disabled" %}'>
			<input type="hidden" id="enabled_caption" value='{% trans "Enabled" %}'>
			<input type="hidden" id="no_reveal_caption" value='{% trans "Do not reveal answers on finish" %}'>
			<input type="hidden" id="reveal_caption" value='{% trans "Reveal answers on finish" %}'>
			<input type="hidden" name="annal-action" id="annal-action" value="">
			<input type="hidden" name="annal_id" id="annal_id" value="">
			<div class="form-group">
				<div class="btn-group btn-group-justified col-sm-3" data-toggle="buttons">
					<label class="btn btn-default">
						<input type="checkbox" name="annal_enabled" id="annal_enabled" class="checkbox_button" autocomplete="off">
						<span class="checkbox_caption">{% trans "Disabled" %}</span>
					</label>
					<label class="btn btn-default">
						<input type="checkbox" name="annal_reveal_answers" id="annal_reveal_answers" class="checkbox_button" autocomplete="off">
						<span class="checkbox_caption">{% trans "Do not reveal answers on finish" %}</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="annal_name" class="control-label col-sm-3">{% trans "Annal name:" %}</label>
				<div class="col-sm-7">
					<input type="text" name="annal_name" id="annal_name" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="annal_duration" class="control-label col-sm-3">{% trans "Duration:" %}</label>
				<div class="col-sm-7">
					<input type="text" name="annal_duration" id="annal_duration" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="annal_starts_on_hidden" id="annal_starts_on_hidden" value="">
				<label for="annal_starts_on" class="control-label col-sm-3">{% trans "Auto start:" %}</label>
				<input type="checkbox" name="annal_starts_on_checkbox" id="annal_starts_on_checkbox" class="bs_switch col-sm-2"
				data-on-text='{% trans "ON" %}' data-off-text='{% trans "OFF" %}' data-label-width="10">
				<div class="col-sm-5">					
					<div class="input-group date datetimebox" id="annal_starts_on" name="annal_starts_on">
						<input type="text" class="form-control" id="annal_starts_on_text" name="annal_starts_on_text" disabled/>
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="annal_ends_on_hidden" id="annal_ends_on_hidden" value="">
				<label for="annal_ends_on" class="control-label col-sm-3">{% trans "Ends on:" %}</label>
				<input type="checkbox" name="annal_ends_on_checkbox" id="annal_ends_on_checkbox" class="bs_switch col-sm-2"
				data-on-text='{% trans "ON" %}' data-off-text='{% trans "OFF" %}' data-label-width="10">
				<div class="col-sm-5">
					<div class="input-group date datetimebox" id="annal_ends_on" name="annal_ends_on">
						<input type="text" class="form-control" id="annal_ends_on_text" name="annal_ends_on_text" disabled/>
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="annal_rules" class="control-label col-sm-3">{% trans "Rules:" %}</label>
				<div class="col-sm-7">
					<textarea name="annal_rules" id="annal_rules" class="form-control" cols="50" rows="5"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-7">
					<button type="submit" class="btn btn-success" id="form-add-button">{% trans "Save" %}</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
				</div>
			</div>
			</form>
		</div>
		</div>
		</div>
	</div>
	<br/>
	<div class="row">
	<div class="col-sm-12">
	<form id="changelist-form" action="{{ request.session.site_url }}annals/" method="post" novalidate>
	{% csrf_token %}
	<input type="hidden" id="confirm-yes" value='{% trans "Yes" %}'/>
	<input type="hidden" id="confirm-no" value='{% trans "No" %}'/>
	<input type="hidden" id="confirm-title" value='{% trans "Confirmation" %}'/>
	<input type="hidden" id="confirm-message" value='{% trans "Are you sure you want to delete the selected element(s)?" %}'/>
	<input type="hidden" name="changelist-action" id="changelist-action" value=""/>
		<div class="row">
			<div class="col-sm-8">
				<div class="add-delete-container">
					<button type="button" class="btn btn-sm btn-danger" name="delete-selected" id="delete-selected">
						<span class="glyphicon glyphicon-remove"></span> {% trans "Delete selected" %}
					</button>
					&nbsp;
					<a class="btn btn-sm btn-success" name="add-annal" id="add-annal" data-toggle="modal" href="#div-change-annal">
						<span class="glyphicon glyphicon-plus"></span> {% trans "Add Annal" %}
					</a>
				</div>
			</div>
			<div class="col-sm-4">
				<form action="{{ request.session.site_url }}annals/search/" name="form-search-annal" id="form-search-annal" method="get">
				<div class="input-group searchbox-container float-end">
						{% if search_term %}
						<input type="text" class="form-control hilighted-searchbox" name="q" id="q" aria-describedby="annal-remove-search" 
						placeholder='{% trans "Enter annal name" %}' value="{{ request.GET.q }}">
						<span class="input-group-addon cursor-pointer" id="annal-remove-search"><span class="glyphicon glyphicon-remove"></span></span>
						{% else %}
						<input type="text" class="form-control" name="q" id="q" aria-describedby="annal-search-icon" 
						placeholder='{% trans "Enter annal name" %}'>
						<span class="input-group-addon cursor-pointer" id="annal-search-icon"><span class="glyphicon glyphicon-search"></span></span>
						{% endif %}
				</div>
				</form>
			</div>
		</div>
		<table id="result-list" class="table">
		<thead>
			<tr>
				<th class="td-centered"><input type="checkbox" id="sel-toggle-all"/></th>
				<th>{% trans "Annal name" %}</th>
				<th class="td-centered">{% trans "Enabled" %}</th>
				<th class="td-centered">{% trans "Teacher" %}</th>
				<th class="td-centered">{% trans "Created on" %}</th>
				<th class="td-centered">{% trans "Auto enable on" %}</th>
				<th class="td-centered">{% trans "Auto disable on" %}</th>
				<th class="td-centered">{% trans "Duration" %}</th>
				<th class="td-centered">{% trans "Number of questions" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for annal in annals %}
			<tr>
				<td class="td-centered"><input type="checkbox" class="sel-item" name="sel-annal-{{ annal.id }}"/></td>
				<td><a class="annal-edit cursor-pointer" tag="{{ annal.id }}" data-toggle="modal" href="#div-change-annal">
					{{ annal.annal_name }}
				</a></td>
				<td class="td-centered">
					{% if annal.enabled %}
					<span class="option_enabled"></span>
					{% else %}
					<span class="option_disabled"></span>
					{% endif %}
				</td>
				<td class="td-centered">
					{{ annal.teacher }}
				</td>
				<td class="td-centered">
					{{ annal.created_on }}
				</td>
				<td class="td-centered">
					{% if annal.auto_enable %}
					<span>{{ annal.auto_enable_date }}</span>
					{% else %}
					<span>{% trans "None" %}</span>
					{% endif %}
				</td>
				<td class="td-centered">
					{% if annal.auto_disable %}
					<span>{{ annal.auto_disable_date }}</span>
					{% else %}
					<span>{% trans "None" %}</span>
					{% endif %}
				</td>
				<td class="td-centered">
					{{ annal.annal_duration }}
				</td>
				<td class="td-centered">
					<a href="{{ request.session.site_url }}annals/{{ annal.id }}/questions">
					<span class="label label-success annal-nb-quizzes" tag="{{ annal.id }}" 
					tag-current="" tag-annal="{{ annal.annal_name }}">
						{{ annal.number_of_questions }}
					</span>
					</a>
				</td>
			</tr>
			{% endfor %}
			{% if not annals %}
			<tr>
				<td colspan="9" style="text-align: center">{% trans "Empty" %}</td>
			</tr>
			{% endif %}
		</tbody>
		</table>
	</form>
	<nav>
		<div class="td-centered">
		<ul class="pagination" id="annal-pages">
		{% if search_term %}
			{% if previous_page == page_num %}
			<li class="disabled"><a aria-label="previous-page">
				<span aria-hidden="true">&laquo;</span>
			</a></li>
			{% else %}
			<li title='{% trans "Previous" %}'>
				<a href="{{ request.session.site_url }}annals/search/?q={{ search_term }}&page={{ previous_page }}" aria-label="previous-page">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			{% endif %}
			{% for p in displayed_pages %}
			{% if p == page_num %}
			<li class="active"><a>{{ p }}</a></li>
			{% else %}
			<li><a href="{{ request.session.site_url }}annals/search/?q={{ search_term }}&page={{ p }}">{{ p }}</a></li>
			{% endif %}
			{% endfor %}
			{% if next_page == page_num %}
			<li class="disabled"><a aria-label="next-page">
				<span aria-hidden="true">&raquo;</span>
			</a></li>
			{% else %}
			<li title='{% trans "Next" %}'>
				<a href="{{ request.session.site_url }}annals/search/?q={{ search_term }}&page={{ next_page }}" aria-label="next-page">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
			{% endif %}
		{% else %}
			{% if previous_page == page_num %}
			<li class="disabled"><a aria-label="previous-page">
				<span aria-hidden="true">&laquo;</span>
			</a></li>
			{% else %}
			<li title='{% trans "Previous" %}'><a href="{{ request.session.site_url }}annals/?page={{ previous_page }}" aria-label="previous-page">
				<span aria-hidden="true">&laquo;</span>
			</a></li>
			{% endif %}
			{% for p in displayed_pages %}
			{% if p == page_num %}
			<li class="active"><a>{{ p }}</a></li>
			{% else %}
			<li><a href="{{ request.session.site_url }}annals/?page={{ p }}">{{ p }}</a></li>
			{% endif %}
			{% endfor %}
			{% if next_page == page_num %}
			<li class="disabled"><a aria-label="next-page">
				<span aria-hidden="true">&raquo;</span>
			</a></li>
			{% else %}
			<li title='{% trans "Next" %}'><a href="{{ request.session.site_url }}annals/?page={{ next_page }}" aria-label="next-page">
				<span aria-hidden="true">&raquo;</span>
			</a></li>
			{% endif %}
		{% endif %}
		</ul>
		</div>
	</nav>
	</div>
	</div>
{% endblock %}
