{% extends "what/base-cp.html" %}
{% load i18n %}

{% block title %}{% trans "Students" %}{% endblock %}

{% block content %}
	<h2>{% trans "Students" %}</h2>
	<form id="changelist-form" action="" method="post" novalidate>
	{% csrf_token %}
	<input type="hidden" id="confirm-yes" value='{% trans "Yes" %}'/>
	<input type="hidden" id="confirm-no" value='{% trans "No" %}'/>
	<input type="hidden" id="confirm-title" value='{% trans "Confirmation" %}'/>
	<input type="hidden" id="confirm-message" value='{% trans "Are you sure you want to delete the selected elements?" %}'/>
	<input type="hidden" name="changelist-action" id="changelist-action" value=""/>
	<br/>
	<div class="row">
	<div class="col-sm-4">
		<div id="delete-container">
			<button type="button" class="btn btn-sm btn-danger" name="delete-selected" id="delete-selected">Delete selected</button>
		</div>
		<table id="result-list" class="table">
		<thead>
			<tr>
				<th class="td-centered"><input type="checkbox" id="sel-toggle-all"/></th>
				<th>{% trans "Student name" %}</th>
				<th class="td-centered">Number of quizzes</th>
			</tr>
		</thead>
		<tbody>
			{% for student in students %}
			<tr>
				<td class="td-centered"><input type="checkbox" class="sel-item" name="sel-student-{{ student.id }}"/></td>
				<td><a href="{{ request.session.site_url }}students/{{ student.id }}/">{{ student.student_name }}</a></td>
				<td class="td-centered">
					<span class="label label-success student-nb-quizzes" tag="{{ student.id }}" 
					tag-current="" tag-student="{{ student.student_name }}">
						{{ student.number_of_quizzes }}
					</span>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
	<div class="col-sm-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<b>{% trans "Quizzes" %}<span id="st-panel-title" hidden="true"> | <span class="label label-success" id="st-panel-subtitle"></span></span></b>
			</div>
			<div class="panel-body">
				{% trans "Click on <b>number of quizzes</b> of a student to show their quizzes." %}
			</div>
			<div id="table-quizzes" hidden="true">
				<table class='table' width='100%'>
					<tr><td width='50%'>{% trans "Name:" %}</td>
					<td id="st-quiz-name"></td></tr>
					<tr><td width='50%'>{% trans "Submitted:" %}</td>
					<td id="st-quiz-submitted"></td></tr>
					<tr><td width='50%'>{% trans "Score:" %}</td>
					<td id="st-quiz-score"></td></tr>
					<tr><td width='50%'>{% trans "Number of questions:" %}</td>
					<td id="st-quiz-nb-questions"></td></tr>
					<tr><td width='50%'>{% trans "Start time:" %}</td>
					<td id="st-quiz-started"></td></tr>
					<tr><td width='50%'>{% trans "Finished in:" %}</td>
					<td id="st-quiz-finished"></td></tr>
				</table>
				<nav class='nav-padded'><ul class='pager'>
					<li class='previous'><a class='pager-previous' tag=''><span aria-hidden='true'>&larr;</span> {% trans "Previous" %}</a></li>
					<li><span><span id="st-quiz-current">1</span> / <span id="st-quiz-total"></span></span></li>
					<li class='next'><a class='pager-next' tag=''>{% trans "Next" %} <span aria-hidden='true'>&rarr;</span></a></li>
				</ul></nav>
			</div>
		</div>
	</div>
	</div>
	</form>
{% endblock %}
