{% extends "what/base-cp.html" %}
{% load i18n %}

{% block title %}{% trans "Students" %}{% endblock %}

{% block content %}
	<h2>{% trans "Students" %}</h2>
	<form id="changelist-form" action="" method="post" novalidate>
	{% csrf_token %}
	<input type="hidden" id="confirm-yes" value='{% trans "Yes" %}'/>
	<input type="hidden" id="confirm-no" value='{% trans "No" %}'/>
	<input type="hidden" id="confirm-title" value='{% trans "Confirmation" %}'/>
	<input type="hidden" id="confirm-message" value='{% trans "Are you sure you want to delete the selected elements?" %}'/>
	<input type="hidden" name="changelist-action" id="changelist-action" value=""/>
	<div class="results">
	<table id="result-list" class="table-bordered">
	<thead>
		<tr>
			<th colspan="3">
			<button type="button" class="btn btn-sm btn-danger" name="delete-selected" id="delete-selected">Delete selected</button>
			</th>
		</tr>
		<tr>
			<th><input type="checkbox" id="sel-toggle-all"/></th>
			<th>{% trans "Student name" %}</th>
			<th>Number of quizzes</th>
		</tr>
	</thead>
	<tbody>
		{% for student in students %}
		<tr>
			<td><input type="checkbox" class="sel-item" name="sel-student-{{ student.id }}"/></td>
			<td><a href="{{ request.session.site_url }}students/{{ student.id }}/">{{ student.student_name }}</a></td>
			<td>
				<a href="#">
				<span class="label label-success student-nb-quizzes" tag="{{ student.id }}" tag-previous="" tag-next="" tag2="{{ student.student_name }}">
					{{ student.number_of_quizzes }}
				</span>
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
	</div>
	</form>
{% endblock %}
