{% extends "what/base.html" %}
{% load i18n %}

{% block title %}{% trans "Quiz" %}{% endblock %}

{% block navbar-title %}{% trans "Home" %}{% endblock %}

{% if request.session.username %}
{% block user %}
{% trans "Hello," %} <b>{{ request.session.username }}</b>
<div class="user-dropdown-arrow dropdown">
	<span id="dropdown-user-menu" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<a href="#"><span class="caret"></span></a>
	</span>
	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user-menu" id="user-drop-list">
		<li><a href="#">{% trans "Settings" %}</a></li>
		<li class="divider"></li>
		<li><a href="logout/">{% trans "Logout" %}</a></li>
	</ul>
</div>
{% endblock %}
{% block navbar-cp %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{% trans "Quick Access" %} <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="students/">{% trans "Students" %}</a></li>
		<li><a href="annals/">{% trans "Annals" %}</a></li>
		<li><a href="questions/">{% trans "Questions" %}</a></li>
		<li><a href="quizzes/">{% trans "Quizzes" %}</a></li>
		<li><a href="teachers/">{% trans "Teachers" %}</a></li>
	</ul>
</li>
{% endblock %}
{% endif %}



{% block content %}
{% if request.GET.message == "login_success" %}
<div class="row">
	<div class="col-sm-3">
	</div>
	<div class="col-sm-6">
		<div class="alert alert-success" id="login-success-alert">
			{% trans "You have been successfully logged in." %}
		</div>
	</div>
</div>
{% endif %}
<div class="row">
	<div class="col-sm-4">
	</div>
	<div class="col-sm-4">
		<div class="list-group teacher-cp">
			<div class="list-group-item active">
				<b>{% trans "Teacher Control Panel" %}</b>
			</div>
			<div class="list-group-item">
				<a href="students/">{% trans "Students" %}</a>
			</div>
			<div class="list-group-item">
				<a href="annals/">{% trans "Annals" %}</a>
			</div>
			<div class="list-group-item">
				<a href="questions/">{% trans "Questions" %}</a>
			</div>
			<div class="list-group-item">
				<a href="quizzes/">{% trans "Quizzes" %}</a>
			</div>
			<div class="list-group-item">
				<a href="teachers/">{% trans "Teachers" %}</a>
			</div>
			<div class="list-group-item">
				<a href="settings/">{% trans "Global settings" %}</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
