{% extends "what/base.html" %}
{% load i18n %}

{% block title %}{% trans "Quiz" %}{% endblock %}

{% block navbar-title %}{% trans "Login" %}{% endblock %}

{% if request.session.username %}
{% block user %}
{% trans "Hello," %} <b>{{ request.session.username }}</b>
{% endblock %}
{% endif %}

{% block content %}
{% if message == "account_disabled" %}
<div class="alert alert-danger">
	{% trans "This account is disabled." %}
</div>
<button type="button" class="btn btn-danger" onclick="window.history.go(-1)">{% trans "Go back" %}</button>
{% elif message == "login_error" %}
<div class="alert alert-danger">
	{% trans "Username and/or password are incorrect." %}
</div>
<button type="button" class="btn btn-danger" onclick="window.history.go(-1)">{% trans "Go back" %}</button>
{% elif message == "login_missing" %}
<div class="alert alert-warning">
	{% trans "Please enter your username and password in order to log in." %}
</div>
<button type="button" class="btn btn-warning" onclick="window.history.go(-1)">{% trans "Go back" %}</button>
{% elif message == "form_login" %}
<div class="row">
<div class="login-container">
	<div class="col-sm-4">
	</div>
	<div class="col-sm-4">
	<center>
	<br/>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3>{% trans "Teacher Control Panel" %}</h3>
		</div>
		<div class="panel-body">
			<form action="" method="POST" id="form-login">
			{% csrf_token %}
			<table id="table-login">
				<tr>
					<td><label for="form-username">{% trans "Username:" %}</label></td>
					<td><input type="text" id="form-username" name="form-username" maxlength="64" size="30"/></td>
				</tr>
				<tr>
					<td><label for="form-password">{% trans "Password:" %}</label></td>
					<td><input type="password" id="form-password" name="form-password" maxlength="64" size="30"/></td>
				</tr>
				<tr>
				<td colspan="2" class="td-center">
				<button type="submit" id='button-submit' class="btn btn-lg btn-primary">{% trans "Login" %}</button>
				</td>
				</tr>
			</table>
			</form>
		</div>
	</div>
	</center>
	</div>
</div>
</div>
{% endif %}
{% endblock %}
