{% extends "what/base.html" %}
{% load template_array %}

{% block title %}Quiz{% endblock %}

{% if message == "show_quiz" %}
	{% block user %}
		Good luck, <b>{{ student.student_name }}</b>
	{% endblock %}
	{% block navbar-title %}Taking the Quiz{% endblock %}
	{% block navbar-rules %}Rules{% endblock %}
{% endif %}

{% block content %}
{% if message == "quiz_submitted" %}
<div class="alert alert-danger" role="alert">
	<b>Stop!</b> This quiz has already been submitted. You cannot take it twice.
</div>
<div class="well">
	<a href="{{ result_url }}">Click here</a> if you want to see your score on this quiz.
</div>
{% elif message == "show_quiz" %}
<div class="row">

	<div class="col-sm-7">
		<div class="form-container">
		<form action="" method="POST" id="form-submit">
		{% csrf_token %}
		<h2>
			<span class="label label-primary label-orange">Questions</span>
		</h2>
		<br/>
		{% for i in indexes %}
		<div class="list-group">
			<div class="list-group-item active"><b>{{ forloop.counter }}.</b>&nbsp;&nbsp;{{ questions|question:i }}</div>
			<div id="question{{ questions|qid:i }}">
				{% for answer in answers|index:i %}
				<div class="list-group-item answers answer-q{{ questions|qid:i }}" id="answer{{ answer.id }}">{{ answer.answer_text }}</div>
				{% endfor %}
				<input type="hidden" class="chosen-answer" name="chosen-answer-q{{ questions|qid:i }}" id="chosen-answer-q{{ questions|qid:i }}" value=""/>
			</div>
		</div>
		{% endfor %}
		</form>
		</div>
	</div>

	<div class="col-sm-5">
		<div class="time-container">
		<table>
		<tr><td>
			<h3>
				<span class="well label-time">Time remaining</span>
			</h3>
			<h1>
				<div class="circle circle-border">
					<div class="circle-inner">
						<div class="time-text" title="{{ quiz.annal.annal_duration }}">
							Go!
						</div>
					</div>
				</div>
			</h1>
			<div class="button-end">
				<button type="button" class="btn btn-lg btn-success" id="submit-button">End Quiz</button>
			</div>
		</td><td class="tips-cell">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Panel title</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>
		</td></tr>
		</table>
		</div>
	</div>

</div>

{% endif %}
{% endblock %}
