{% extends "what/base.html" %}
{% load template_array %}

{% block title %}Quiz{% endblock %}

{% if message == "show_quiz" %}
	{% block user %}
		<b>{{ student.student_name }}</b>
	{% endblock %}
{% endif %}

{% block content %}
{% if message == "quiz_submitted" %}
<div class="alert alert-danger" role="alert">
	<b>Stop!</b> This quiz has already been submitted. You cannot take it twice.
</div>
<div class="well">
	<a href="{{ result_url }}">Click here</a> if you want to see your score on this quiz.
</div>
{% elif message == "show_quiz" %}
<div class="row">
	<div class="col-sm-9">
		<p>Quiz</p><p>Quiz</p>
		<form action="" method="POST">
		{% csrf_token %}
		<h2>
			<span class="label label-primary label-orange">Questions</span>
		</h2>
		<br/>
		{% for i in indexes %}
		<div class="list-group">
			<div class="list-group-item active"><b>{{ forloop.counter }}.</b>&nbsp;&nbsp;{{ questions|question:i }}</div>
			<div id="question{{ questions|qid:i }}">
				{% for answer in answers|index:i %}
				<div class="list-group-item answers answer-q{{ questions|qid:i }}" id="answer{{ answer.id }}">{{ answer.answer_text }}</div>
				{% endfor %}
				<input type="hidden" class="chosen-answer" name="chosen-answer-q{{ questions|qid:i }}" id="chosen-answer-q{{ questions|qid:i }}" value=""/>
			</div>
		</div>
		{% endfor %}
		<button type="submit" class="btn btn-success">End Quiz</button>
		</form>
	</div>
	<div class="col-sm-3">
		<p>Quiz</p><p>Quiz</p>
		<div class="time-container">
			<h3>
				<span class="well label-time">Time remaining</span>
			</h3>
			<h1>
				<div class="circle circle-border">
					<div class="circle-inner">
						<div class="time-text">
							10:28
						</div>
					</div>
				</div>
			</h1>
		</div>
	</div>
</div>

{% endif %}
{% endblock %}
