{% extends "what/base.html" %}
{% load template_array %}

{% block title %}Quiz{% endblock %}

{% block content %}
{% if message == "quiz_submitted" %}
<div class="alert alert-danger" role="alert">
	<b>Stop!</b> This quiz has already been submitted. You cannot take it twice.
</div>
{% elif message == "show_quiz" %}
<form action="" method="POST">
{% csrf_token %}
<h3>Questions</h3>
<div class="row">
<div class="col-sm-5">
{% for i in indexes %}
<div class="list-group">
<div class="list-group-item active"><b>{{ forloop.counter }}.</b>&nbsp;&nbsp;{{ questions|question:i }}</div>
<div id="question{{ questions|qid:i }}">
{% for answer in answers|index:i %}
<div class="list-group-item answers answer-q{{ questions|qid:i }}" id="answer{{ answer.id }}">{{ answer.answer_text }}</div>
{% endfor %}
<input type="hidden" class="chosen-answer" name="chosen-answer-q{{ questions|qid:i }}" id="chosen-answer-q{{ questions|qid:i }}" value=""/>
</div>
</div>
{% endfor %}
</div>
</div>
<input type="submit" name="submit" id="submit" value="End Quiz"/>
</form>
{% endif %}
{% endblock %}
