body {
	background: linear-gradient(to left, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
}

.answers {
	cursor: pointer;
}

.white {
	background-color: white;
}

.yellow {
	background-color: #ffff66;
}

.font-blue {
	color: blue;
	font-weight: bold;
	font-style: italic;
}

.font-purple {
	color: purple;
	font-weight: bold;
	font-style: italic;
}

.label-orange {
	background-color: #d0a12f;
}

.circle {
	background: linear-gradient(135deg, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
	color: white;
	margin-top: 1.5em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 4em;
	position: relative;
}

.circle-border {
	border: 3px solid #668855;
}

.circle-solid{
	background-color: whitesmoke;
}

.circle:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.circle-inner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}

.time-text {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 20%;
	line-height: 100%;
	font-size: 70%;
}

.label-time {
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size: 90%;
	line-height: 50% !important;
	height: 20% !important;
}

.time-container {
	position: fixed;
	margin-top: 5em;
}

.form-container {
	margin-top: 5em;
}

.tips-cell {
	width: 16em;
	padding-left: 3em;
	vertical-align: top;
	text-align: center;
}

.time-cell {
	vertical-align: top;
	text-align: center;
}

.quiz-table {
	width: 100%;
}

.quiz-cell {
	vertical-align: top;
}

.col1-cell {
	width: 60%;
}

.button-end {
	width: 100%;
	text-align: center;
	margin-top: 3em;
}

.panel-left {
	text-align: left !important;
}
