@import url(http://fonts.googleapis.com/earlyaccess/notosanskufiarabic.css);

html {
	position: relative;
	min-height: 100%;
}

body {
	/* change the fonts to your liking */
	font-family: Tahoma, Georgia, Serif;
	background: linear-gradient(to left, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
}

.jumbotron {
	margin-bottom: 0;
	padding-bottom: 1em;
	color: #ccffff;
	text-align: center;
	/* change the fonts to your liking */
	font-family: 'Noto Sans Kufi Arabic', Tahoma;
	background: linear-gradient(135deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
}

.answers {
	cursor: pointer;
}

.white {
	background-color: white;
}

.yellow {
	background-color: #ffff66;
}

.font-blue {
	color: blue;
	font-weight: bold;
	font-style: italic;
}

.font-purple {
	color: purple;
	font-weight: bold;
	font-style: italic;
}

.label-orange {
	background-color: #d0a12f;
}

.circle {
	background: linear-gradient(135deg, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
	color: white;
	margin-top: 1.5em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 4em;
	position: relative;
}

.circle-border {
	border: 3px solid #668855;
}

.circle-solid{
	background-color: whitesmoke;
}

.circle:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.circle-inner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}

.time-text {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 20%;
	line-height: 100%;
	font-size: 70%;
}

.label-time {
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size: 90%;
	line-height: 50% !important;
	height: 20% !important;
}

.time-container {
	position: fixed;
	margin-top: 1em;
}

.page-container {
	margin-top: 1em;
	margin-bottom: 5em;
}

.tips-cell {
	width: 16em;
	padding-inline-start: 3em;
	-khtml-padding-start: 3em;
	-o-padding-start: 3em;
	-webkit-padding-start: 3em;
	padding-start: 3em;
	vertical-align: top;
	text-align: center;
}

.time-cell {
	vertical-align: top;
	text-align: center;
}

.quiz-table {
	width: 100%;
}

.quiz-cell {
	vertical-align: top;
}

.col1-cell {
	width: 60%;
}

.button-end {
	width: 100%;
	text-align: center;
	margin-top: 3em;
}

.panel-left {
	text-align: start !important;
}

.footer {
	position: absolute;
	bottom: 0;
	font-size: 1em;
	width: 100%;
	text-align: center;
}

.footer-copyright {
	color: white;
	background-color: #222222;
	padding-top: 0.6em;
	border-radius: 25px 25px 0 0;
}

.lang-select {
	padding-top: 0.5em;
}

#table-login td {
	vertical-align: middle;
	padding: 0.2em 0.3em 0.2em 0;
	text-align: start;
}

.td-center {
	padding: 0.5em 0 0.5em 0 !important;
	text-align: center !important;
}

.teacher-cp {
	margin-top: 2em;
	text-align: center;
}

.user-dropdown-arrow {
	display: inline;
	font-size: 80%;
}

#user-drop-list {
	top: 0;
}
